<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmn.mapper.UserInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wmn.entity.UserInfo">
        <id column="id" property="id" />
        <result column="realname" property="realname" />
        <result column="birthplace" property="birthplace" />
        <result column="birth" property="birth" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="nickname" property="nickname" />
        <result column="pwd" property="pwd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, realname, birthplace, birth, email, phone, nickname, pwd
    </sql>

</mapper>
